{% extends "base.html" %} {% block title %}Home{% endblock %} 
    {% block content%}
        {% if user.is_authenticated %}
            <h1 align="center">Create battery data</h1>
            <h3>Add Battery Data</h1>
            <div>
                <form method="POST" action="{{ url_for('views.home') }}">
                    <label for="battery_id">battery_id</label>
                    <input type="number" id="battery_id" name="battery_id" required><br><br>
                    <label for="temperature">temperature</label>
                    <input type="number" id="temperature" name="temperature" required><br><br>
                    <input type="submit" value="Add Data">
                </form>
            </div>
        {% endif%}

    {% endblock %}